In [2]:
#
#Chapter 2 Exercises: Variables & Simple Data Types
#

In [12]:
#Name a variable and print a message to that variable.
name_1 = 'Michaelangelo'
print(f'Hi {name_1}, how goes the painting?')

Hi Michaelangelo, how goes the painting?

In [14]:
#Name a variable and print a message to that variable. Make variable capitalized.
name_1 = 'michaelangelo'
print(f'Hi {name_1.title()}, how goes the painting?')

Hi Michaelangelo, how goes the painting?

In [16]:
#Name a variable and print a message to that variable. Make variable lowercase.
name_1 = 'michaelangelo'
print(f'Hi {name_1.lower()}, how goes the painting?')

Hi michaelangelo, how goes the painting?

In [17]:
#Name a variable and print a message to that variable. Make variable uppercase.
name_1 = 'michaelangelo'
print(f'Hi {name_1.upper()}, how goes the painting?')

Hi MICHAELANGELO, how goes the painting?

In [23]:
#Remove all spaces at the ends of the string(whitespace).
name_1 = 'michaelangelo'
print(f' Hi {name_1.title()}, how goes the painting? ')
name_1_message = (f' Hi {name_1}, how goes the painting? ')
name_1_message = name_1_message.strip()
print(name_1_message)
#.lstrip() and rstrip() may also be used for respective sides.

 Hi Michaelangelo, how goes the painting?
Hi michaelangelo, how goes the painting?

In [24]:
#Print a sentence including a famous person and their quote.
famous_person = 'bob proctor'
print(f"{famous_person.title()} once said, 'If you must doubt something, doubt your limits.'")

Bob Proctor once said, 'If you must doubt something, doubt your limits.'

In [1]:
#
# Chapter 3 Exercises: Lists
#

In [10]:
# Create a list and place one of the items within the list into a sentence.
fruits = ['apple','banana','orange','strawberry', 'kiwi', 'watermelon']

print(f"My favorite fruit has always been the {fruits[0]}.")

My favorite fruit has always been the apple.

In [12]:
print(f"Would you like an {fruits[2]} or a {fruits[4]}?")

Would you like an orange or a kiwi?

In [13]:
# QUESTION: How do i deal with plural values? Can I alter the element as needed to fit the scenario? Do I need multiple lists, singular and plural?

In [4]:
# Change the value in a list
fruits = ['apple','banana','orange','strawberry', 'kiwi', 'watermelon']
fruits[2] = 'lemon'
print(fruits)

# Append a value to a list
fruits = ['apple','banana','orange','strawberry', 'kiwi', 'watermelon']
fruits.append('raspberry')
print(fruits)

['apple', 'banana', 'lemon', 'strawberry', 'kiwi', 'watermelon']
['apple', 'banana', 'orange', 'strawberry', 'kiwi', 'watermelon', 'raspberry']

In [1]:
#
# IBM Python for Data Science, AI & Dev: Strings
#

In [12]:
# Create a string. Use stride to select every other element within the string and print.

cat1 = 'kitty witty'
print(cat1[::2]) #Slicing with zero results in an error. Slicing with 1 results in the string printing normally with all elements. Slicing by 2 prints every other element. Slicing by 3 prints every 3rd element.

ktywty

In [6]:
# Contatenate the string with a second string to create a sentence. Capitalize Kitty Witty.
cat1 = 'kitty witty'

print(cat1.title() + ' is black as midnight.')

Kitty Witty is black as midnight.

In [16]:
# Replace elements within the string. 
cat1 = 'kitty witty' # It is good practice to leave strings lowercase and then use operations to change the string based on the situation. 
cat1.replace('kitty', 'silly')

# Print the last element in the string.
print(cat1[-1]) # I just realized why the negative index starts with -1 and not zero. Zero cannot mean both the first and the last element. Duh!

# Find the starting index of 'wit' in the variable cat1.

cat1.find('wit')

# Print 3 elements within the string.
print(cat1[1:4]) # The first value represents the starting index while the final value indicates the point at which the index should stop... .so, it this always prints up to the value before the second index (1 through 3).

y
itt

In [17]:
#
# Tuples
#

In [20]:
#Tuples are immutable. This means they cannot be altered. To manipulate a tuple, a new tuple must be created an operated on. 
stuff = ("chunky",10,1.5,'ace',9) # "Tuples are written as ordered, comma-separated elements within parentheses." 

# Tuples can be concatenated. 
stuff1 = stuff + ('orange', 6)

print(stuff1)

('chunky', 10, 1.5, 'ace', 9, 'orange', 6)

In [27]:
# Slicing Tuples
stuff1[0:3]

#Finding the length of a tuple:
len(stuff)

#Sort stuff1:

sortedstuff1 = sorted(stuff1) #I tried this before understanding that, since the tuple stuff1 contains strings, the sorted method does not work.

TypeError: '<' not supported between instances of 'int' and 'str'

In [3]:
# New tuple for sorting:
stuff2 = (1,3,5,2,8)
stuff2sorted = sorted(stuff2) # Sorting a tuple creates a list of the sorted elements.

print(stuff2sorted)

[1, 2, 3, 5, 8]

In [1]:
#
# Lists
#

In [17]:
# there are two ways to add to a list: Append and extend. 

motorcycle_brands = ['suzuki','buell','harley davidson','yamaha']

motorcycle_brands.append(['victory','indian']) # Append adds the values as a single, nested element into the list. 

print(motorcycle_brands)

len(motorcycle_brands) #The length = 5

motorcycle_brands.extend(['kawasaki','bmw']) # Extend adds multiple values as multiple elements and not just one.

print(motorcycle_brands)

len(motorcycle_brands) # The length = 7

['suzuki', 'buell', 'harley davidson', 'yamaha', ['victory', 'indian']]
['suzuki', 'buell', 'harley davidson', 'yamaha', ['victory', 'indian'], 'kawasaki', 'bmw']

7

In [22]:
# Remove an element from the nested list within motorcycle_brands.
del(motorcycle_brands[1])
print(motorcycle_brands)

['suzuki', 'harley davidson', 'yamaha', 'kawasaki', 'bmw']

In [31]:
# Split 'harley davidson'
'harley davidson'.split() #Split can divide a string into a list by dividing on the default 'space'. 

#Split() can also split on ','
'harley,davidson,buell'.split(',')

['harley', 'davidson', 'buell']

In [37]:
# An alias of a list can be created by setting the list equal to another variable.
motorcycle_brands1 = motorcycle_brands
print('List 1:')
print(motorcycle_brands)
print('List 2:')
print(motorcycle_brands1)

List 1:
['suzuki', 'harley davidson', 'yamaha', 'kawasaki', 'bmw']
List 2:
['suzuki', 'harley davidson', 'yamaha', 'kawasaki', 'bmw']

In [40]:
# A list may also be cloned the following way.
A = motorcycle_brands[:]
A

['suzuki', 'harley davidson', 'yamaha', 'kawasaki', 'bmw']